body {
    font-size: 10px;
    font-family: 'Chewy', cursive;
    text-align: center;
}

#gameboard {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.cell {
    border: 5px solid #FF69B4;
    border-radius: 5px;
    margin: 2px;
    width: 150px;
    height: 150px;
    float: left;
    padding-top: 5px;
    text-align: center;
    font-size: 1000%;
    color: #b2ffb2;
}

h1 {
    text-align: center;
    color: #FF69B4;
    font-family: 'Luckiest Guy', cursive, Arial, serif;
    font-size: 4em;
}

.row {
    box-sizing: border-box;
}

#newGame {
    width: 150px;
    height: 50px;
    border: 2px solid #FF69B4;
    border-radius: 5px;
    background-color: white;
    margin-top: 2em;
    font-size: 150%;
    color: #FF69B4;
    font-family: Arial
}

.won {
    background-color: #b2ffb2;
    color: #FF69B4;
}

#newGame:hover {
    cursor: pointer;
    background-color: #FF69B4;
    color: white;
}

button:focus {
    outline: 0;
}
