body {
  font-size: 10px;
  font-family: 'Chewy', cursive !important;;
}

h1 {
  text-align: center;
  color: #FF69B4 !important;;
  font-family: 'Luckiest Guy', cursive, Arial, serif!important;;
  font-size: 5em !important;;
}

#gameboard {
  /*width: 34.2em;
  width: 34.2em;*/
  width: 342px;
  height: 342px;
  margin: 0 auto;
}

.cell {
  border: 5px solid #FF69B4;
  border-radius: 5px;
  margin:2px;
  width: 100px;
  height: 100px;
  float: left;
  padding-top:5px;
  text-align: center;
  font-size: 400%;
}

.row {
  box-sizing: border-box;
}

#newGame {
  width: 150px;
  height: 50px;
  border: 2px solid #FF69B4;
  border-radius: 5px;
  background-color: white;
  margin-top: 2em;
  font-size: 150%;
  color: #FF69B4;
}

.won {
  background-color:#b2ffb2;
}

#newGame:hover {
cursor: pointer;
background-color: #FF69B4;
color: white;
}

button:focus {
  outline:0;
}
